<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChz6nPdD5RvKimuh6DZUfyG-9Dsvn_Lsw</string>
	<key>GCM_SENDER_ID</key>
	<string>352327775013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moatmatApp</string>
	<key>PROJECT_ID</key>
	<string>notifications-49696</string>
	<key>STORAGE_BUCKET</key>
	<string>notifications-49696.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352327775013:ios:af87f6985e68b72256e0cc</string>
</dict>
</plist>